<%- include ../partials/header.ejs %>

<div class="content footerSpacing">

    <div class="contentWrapper addDeviceWrapper">
        <div class="formPadding">
            <p class="subTitle" id="triggers"><strong>Add a Device</strong></>
              <br>

            <form class="addDevice" action="" method="post">
                <p class="subHeading">Device Name</p>
                <input class="textInput" type="text" autocomplete="off" name="name" value="" placeholder="">
                <br>
                <br>

                <p class="subHeading">MQTT Topic</p>
                <input class="textInput" type="text" autocomplete="off" name="topic" value="" placeholder="">
                <br>

                <br>
                <button class="customButton submit"type="submit" name="button" value="Submitted">Submit</button>
            </form>
        </div>

    </div>

  <div class="contentWrapper devicesWrapper">
      <p class="subTitle" id="triggers">known devices.</>
          <div class="savedDays">
              <table class="tableStyle">
                  <tr class="tableHeading">
                      <td><strong>name</strong></td>
                      <td><strong>mqtt topic</strong></td>
                      <td><strong>action</strong></td>
                  </tr>
                  <% for(var i=0; i < result.length; i++) { %>
                      <tr class="tableRowStyle">
                          <td><%= result[i].name %></td>
                          <td><%= result[i].topic %></td>
                          <td>
                              <form class="formButton">
                              <input type="button" value="delete" class="customButton delete" onclick="window.location.href='/deviceDelete/<%= result[i]._id %>'" />
                              </form>
                          </td>

                      </tr>
                  <% } %>
              </table>
          </div>
  </div>
  <br>




</div>

<%- include ../partials/footer.ejs %>
