<%- include ../partials/header.ejs %>

<div class="content footerSpacing">
    <script type="text/javascript">
        $(function () {
            var socket = io();

            socket.on('load', function(load){
                console.log('logged');
            });
        });
    </script>

    <form class="showerOptions contentWrapper addDeviceWrapper" action="" method="post">
        <p class="subTitle">select a day.</p>

        <select name="day">
            <option value="0">Sunday</option>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
        </select>
        <br>
        <br>

        <p class="subTitle">select a time.</p>
        <input id="time" type="time" name="time">
        <br>
        <br>

        <p class="subTitle">input a device.</p>
        <select name="topic">
            <% for(var i=0; i < devices.length; i++) { %>
              <option value="<%= devices[i].topic %>"><%= devices[i].name %></option>
            <% } %>
        </select>
        <br>

        <p class="subTitle">select an action.</p>

        <input class="binaryRadio" type="radio" name="status" value="1">On
        <input type="radio" name="status" value="0">Off

        <br>
        <br>
        <button class="customButton submit"type="submit" name="button" value="Submitted">Submit</button>
    </form>

    <div class="result contentWrapper devicesWrapper">
        <p class="subTitle" id="triggers">current triggers.</>
            <div class="savedDays">
                <table class="tableStyle">
                    <% for(var i=0; i < result.length; i++) { %>
                        <tr class="tableRowStyleTrig">
                            <td><strong>day</strong></td>
                            <td class="tableRightJustify"><%= result[i].day %></td>
                        </tr>
                        <tr class="tableRowStyleTrig">
                            <td><strong>time</strong></td>
                            <td class="tableRightJustify"><%= result[i].time %></td>
                        </tr>
                        <tr class="tableRowStyleTrig">
                            <td><strong>device</strong></td>
                            <td class="tableRightJustify"><%= result[i].topic %></td>
                        </tr>
                        <tr class="tableRowStyleTrig">
                            <td><strong>message</strong></td>
                            <td class="tableRightJustify"><%= result[i].status %></td>
                        </tr>
                        <tr class="tableRowStyleTrig actionRow">
                            <td><strong>action</strong></td>
                            <td>
                                <form class="formButton">
                                <input type="button" value="X" class="customButton delete trig" onclick="window.location.href='/dayDelete/<%= result[i]._id %>'" />
                                </form>
                            </td>
                        </tr>

                    <% } %>
                </table>
            </div>
    </div>



</div>

<%- include ../partials/footer.ejs %>
