<%- include ../partials/header.ejs %>

<div class="main">
    <script type="text/javascript">
        $(function () {
            var socket = io();

            socket.on('load', function(load){
                console.log('logged');
            });
        });
    </script>

    <div class="result">
        <p class="subTitle" id="triggers">current triggers.</>
            <div class="savedDays">
                <table class="tableStyle">
                    <tr class="tableHeading">
                        <td><strong>day</strong></td>
                        <td><strong>time</strong></td>
                        <td><strong>device</strong></td>
                        <td><strong>message</strong></td>
                        <td><strong>action</strong></td>
                    </tr>
                    <% for(var i=0; i < result.length; i++) { %>
                        <tr>
                            <td><%= result[i].day %></td>
                            <td><%= result[i].time %></td>
                            <td><%= result[i].topic %></td>
                            <td><%= result[i].status %></td>
                            <td>
                                <form class="formButton">
                                <input type="button" value="modify" class="customButton modify" onclick="window.location.href='/modify/<%= result[i]._id %>'" />
                                </form>
                            </td>
                            <td>
                                <form class="formButton">
                                <input type="button" value="delete" class="customButton delete" onclick="window.location.href='/delete/<%= result[i]._id %>'" />
                                </form>
                            </td>

                        </tr>
                    <% } %>
                </table>
            </div>
    </div>

    <form class="showerOptions" action="" method="post">
        <select name="day">
            <option value="0">Sunday</option>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
        </select>
        <br>
        <br>

        <input id="time" type="time" name="time">
        <br>
        <br>

        <input type="text" name="topic" value="" placeholder="Topic">

        <br>
        <input type="radio" name="status" value="1">On
        <input type="radio" name="status" value="0">Off

        <br>

        <button type="submit" name="button" value="Submitted">Submit</button>
    </form>

</div>

<%- include ../partials/footer.ejs %>
